/* navbar style */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar icon style */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* navbar hover style */
.navbar a:hover {
  background-color: green;
}

/* Current navbar link */
.navactive {
  background-color: green;
}

/* shopping cart navbar */
.navbar-right {
  float:right;
}

/* grid used to make store output */
.store-grid {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

/* border around the items within the grid and align padding */
.store-item {
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

.store-pics {
  display: block;
  max-width: 500px;
  position: relative;
  margin: auto;
}

.product-name {
  font-family: Georgia;
  text-align: left;
  font-size: 20px;
}

.product-availability {
  font-family: Georgia;
  text-align: left;
  color: green;
  font-size: 20px; 
}


/* Pagination at the bottom of the page*/
.pagination a {
  font-family: Georgia;
  color: black;
  float: left;
  padding: 15px 15px;
  text-decoration: none;
  transition: background-color .5s;
}

/* color the current page */
.pagination a.active {
  background-color: green;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: lightgreen;}


div.trademark {
  font-family: Georgia;
  text-align: center;
}

div.socials {
  font-family: Georgia;
  font-size: 20px;
  color: green;
  text-align: center;
}

/* Style for social icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Hover effect when entered */
.fa:hover {
  opacity: 0.7;
}

/* Instagram and Facebook style */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background-color: #125688;
  color: white;
}



